.button{
    margin-top: 10rem;
}
a{
    margin: 2rem;
    padding: o.7rem 1.5rem;
    background:yellow;
    color: white;
    text-decoration:none;
    cursor:pointer;
}
.one{
    border: 10px solid red;
}
.two{
    padding: 3rem;
    outline: solid 10px green;
    outline-offset: -30px;
}

